body{
    align-items:baseline;
    background-color:#e4e7eb;
    /* rgb(89, 222, 255) */
    /* background: linear-gradient(red 1%,skyblue 10%,yellow 90%,rgba(0.7, 0, 0, 0)); */
}
form{
  border-radius: 3%;
}

.adminclass{
    border-radius: 3%;
    margin-left: 30%;
}

.text1{
  border-radius: 8px;
  font-size: 16px;
  border: 10px;
  height: 250px;
  width: 650px;
  text-align:start;
  margin: auto;
  display: flex;
  margin-left: 450px;
}

h1{
    text-align: center;
}
h2{
  text-align: center;
}
#color1{
  background-color: white;
  height: 10px;
}

#plot1{
  height: 500px;
  width: 500px;
}
#plot2{
  height: 200px;
  width: 1000px;
}
#logo{
    height: 100px;
    width: 100px;
}
.dropbtn1{
  border-radius: 8px;
  padding: 13px;
  font-size: 16px;
  border: 10px;
  text-align: center;
  margin: auto;
  display: flex;

}
.dropbtn1:hover{
  background-color: aqua;
}
.dropbtn {
    border-radius: 8px;
    background-color: #04AA6D;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: 10px;
    text-align: center;
    margin: auto;
    display: flex;
  }
  .dropbtn:hover{
      background-color: #038555;
  }
  .dropdown {
    position: relative;
    display:inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    border-radius: 3px;
    color: black;
    padding: 10px ;
    background-color: aqua;
    display: block;
  }
  .dropdown-content a:hover {background-color: rgb(113, 181, 241);}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}