<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Boot Strap css Links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Handel Barjs -->
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>

    <!-- Font ASUM-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="/static/home.css" rel="stylesheet" >
</head>
<body>
    <div id="nav-content"></div>
{% raw %}
    <script id="nav-template" type="text/x-handlebars-template">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
             <img src="/static/img/back.jpg" id="logo" height=100px>

 

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#"><h3>Home</h3><span class="sr-only">(current)</span></a>
                    </li> -->

                    <!-- {{#if_cond this.flag '==' 'False'}}
                        <li id="login-gin" class="nav-item">
                            <a class="nav-link" href="/login"><h3>
                                <img src="/static/img/google_logo.png" height=27px>
                                Sign in</h3></a>
                        </li>
                    {{/if_cond}} -->

                    {{#if_cond this.flag '==' 'True'}}
                        <li class="nav-item">
                            <a class="nav-link" href="/history"><h3>History</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><h3>
                                <img src="/static/img/google_logo.png" height=27px> Sign Out</h3></a>
                        </li>
                    {{/if_cond}}
                </ul>
            </div>
        </nav>
        {{#if_cond this.flag '==' 'True'}}
            <div class="jumbotron"><h2 style="text-align: center;" >Welcome {{this.user}}<br>Use Readability Here</h2></div>
            <form action="/main1" method="post">
                <!-- <h2 style="text-align: center;">If U had the image of Hand written page Press Below button</h2> -->
                <textarea type="text" name="text_value" class="text1" required></textarea>
                <br>
                <h3 style="text-align: center;"><button class="dropbtn" type="submit" >Readability</button></h3>
            </form>
            <br>
            <form action="/canvas" method="post">
                <!-- <h2 style="text-align: center;">If U dont have downloaded image Press Below Button to write with digital pen and download image</h2> -->
                <h3 style="text-align: center;"><button  class="dropbtn" type="submit" ">Improve</button></h3>
            </form>
        {{/if_cond}}
        {{#if_cond this.flag '==' 'False'}}
            <div class="jumbotron"><h2 style="text-align: center;" >Welcome To  Readability</h2></div>
            <br>

            <form action="/login" class="inline">
                <button class="dropbtn1" id="button1" ><img src="/static/img/google_logo.png" height=27px><h4> Sign in</h4></button>
            </form>
            <br>
            <form action="/admin" class="inline">
                <button class="dropbtn" id="button1" ><h4>Admin Login</h4></button>
            </form>
        {{/if_cond}}

    </script>

{% endraw %}

{%if msg1 != 0%}
    <table style="width:100%">
        <tr>
            <td><button class="dropbtn"  id="button1" ><h4>text_standard : {{msg1[0]}}</h4></button></td>
            <form action="https://www.webfx.com/tools/read-able/automated-readability-index.html" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>automated_readability_index : {{msg1[1]}}</h4></button></td>
            </form>
            <form action="https://www.webfx.com/tools/read-able/coleman-liau-index.html" class="inline">
                <td><button class="dropbtn"  id="button1" ><h4>coleman_liau_index : {{msg1[2]}}</h4></button></td>
            </form>
        </tr>
        <br>
        <tr>
            <form action="https://legible.es/blog/formula-de-crawford/" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>crawford : {{msg1[3]}}</h4></button></td>
            </form>
            <form action="https://en.wikipedia.org/wiki/Dale%E2%80%93Chall_readability_formula" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>dale_chall_readability_score : {{msg1[4]}}</h4></button></td>
            </form>
            <td><button class="dropbtn" id="button1" ><h4>difficult_words : {{msg1[5]}}</h4></button></td>  
        </tr>
        <br>
        <tr>
            <form action="https://linguistlist.org/issues/22/22-2332/" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>fernandez_huerta : {{msg1[6]}}</h4></button></td>
            </form>
            <form action="https://www.webfx.com/tools/read-able/flesch-kincaid.html" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>flesch_kincaid_grade : {{msg1[7]}}</h4></button></td>
            </form>
            <form action="https://readabilityformulas.com/flesch-reading-ease-readability-formula.php" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>flesch_reading_ease : {{msg1[8]}}</h4></button></td>
            </form>     
        </tr>
        <br>
        <tr>
            <form action="https://en.wikipedia.org/wiki/Gunning_fog_index" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>gunning_fog : {{msg1[9]}}</h4></button></td>
            </form>
            <form action="https://en.wikipedia.org/wiki/Linsear_Write" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>linsear_write_formula : {{msg1[11]}}</h4></button></td>
            </form>
            <form action="https://en.wikipedia.org/wiki/SMOG" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>smog_index : {{msg1[12]}}</h4></button></td>
            </form>
     
            <!-- <form action="/towards/szigriszt_pazos" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>szigriszt_pazos : {{msg1[11]}}</h4></button></td>
            </form> -->
        </tr>
        <br>
        <tr>
            <!-- <form action="/towards/gutierrez_polini" class="inline">
                <td><button class="dropbtn"  id="button1" ><h4>gutierrez_polini : {{msg1[12]}}</h4></button></td>
            </form> -->
            <!-- <form action="/towards/crawford" class="inline">
                <td><button class="dropbtn" id="button1" ><h4>crawford : {{msg1[13]}}</h4></button></td>
            </form> -->
        </tr>
    </table>
{%endif%}

<!-- ============================================================================================================================ -->

<!-- ============================================================================================================================ -->

<script>
    $( document ).ready(function() {

        var data = {
            flag : "{{flag}}",
            user:"{{user}}",
        }
        console.log(data)

        templateScript = Handlebars.compile($('#nav-template').html());
        $("#nav-content").html(templateScript(data));
    });


    Handlebars.registerHelper('if_cond', function (v1, operator, v2, options) {
        switch (operator) {
            case '==':
                return (v1 == v2) ? options.fn(this) : options.inverse(this);
            case '===':
                return (v1 === v2) ? options.fn(this) : options.inverse(this);
            case '!=':
                return (v1 != v2) ? options.fn(this) : options.inverse(this);
            case '!==':
                return (v1 !== v2) ? options.fn(this) : options.inverse(this);
            case '<':
                return (v1 < v2) ? options.fn(this) : options.inverse(this);
            case '<=':
                return (v1 <= v2) ? options.fn(this) : options.inverse(this);
            case '>':
                return (v1 > v2) ? options.fn(this) : options.inverse(this);
            case '>=':
                return (v1 >= v2) ? options.fn(this) : options.inverse(this);
            case '&&':
                return (v1 && v2) ? options.fn(this) : options.inverse(this);
            case '||':
                return (v1 || v2) ? options.fn(this) : options.inverse(this);
            default:
                return options.inverse(this);
        }
    });

</script>

</body>
</html>